.nav{
  font-weight: 800;
  position: fixed;
  top:0;
  overflow:hidden;
  color: red;
  width: 100%;
  background-color:rgb(200, 197, 197);
  z-index: 1;
  animation: blinker 1s linear infinite;
  display:flex;
  justify-content: space-evenly;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-flow:wrap-reverse;
  margin: 2em;
}




